:root {
    --header-font: "Carter One", cursive;
    --body-font: 'Ubuntu Mono', monospace;
    --main-color: #322F7C;
    --secondary-color: rgba(255,117,125,1);
    --secondary-color-shade: rgba(255,117,125,.8);
    --highlights: #f9f7ef;
}

/* global styling */
body{
    
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 62.5%;
}

/* Style specific reset */
a{
    color: var(--secondary-color);
}
a:hover,
a:active,
a:focus {
    color: var(--secondary-color-shade);
    text-decoration: none;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    display: block;
}

h1 {
    font-family: var(--header-font);
    font-size: 2.827rem;
}

h2 {
    font-family: var(--body-font);
    font-size: 1.999rem;
}

div, a, p, span, h3, h4 {
    /* Need to adjust to responsive */
    line-height: 1.1;
    font-family: var(--body-font);
    font-size: 1.414rem;
}


/* Page wide styling */
/* reusable page-wide */
.outer-container{
    margin: auto;
    padding: 12.375vh 0;
    width: 80vw;
    max-width: 1200px;
}

.bold-ul {
    font-weight: bold;
    text-decoration: underline solid ;
}

.ul {
    text-decoration: underline solid;
}

.hi-lte{
    color: var(--highlights);
}

.mg-bot-lg {
    margin-bottom: 20vh;
}

.mg-bot-md {
    margin-bottom: 12.375vh;
}

.mg-bot-sm{
    margin-bottom: 8.413vh;
}

/* Top menu bar <resuable> */
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tp-mu-item{
    margin: 0 1vw;
}

/* Functional styling */
/* .slider {
    
    background-color: transparent;
    position: relative;
    overflow: hidden;

    transition: all 1s ease-in-out;
}


#medium{
    --platform-color: green;
}
.slider:hover::before {
    content: "";
    height: 200%;
    width: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -1;

    animation-duration: .3s;
    animation-name: zoom;

    background-color: var(--platform-color);
}

@keyframes zoom {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
} */


/* Huge ass caption when one see at first */


/* What is unique to each page */


/* List of contacting method, for helping readers to contact me */
.contact{
    display: flex;
    justify-content: space-between;
}